
/* Structure of the page */
.body{
    height: 100vh;
    width: 100vw;
    max-width:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: yellow;
    padding : 0;
    margin: 0;
}

.c1{
    grid-row: 2;
}

form{
    gap: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

label{
    color: white;
}

/* Form design and configuration  */

.form-group{
    margin: 0px 0px 15px 0px;
}

h1.title{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    font-size: 2.9rem;
}

/* Form elements  */

.submit{
    display: block;
    margin-left: 45%;
    margin-right: auto;
}

.previous{
    grid-row-end: -1;
    margin: auto;
    margin-bottom: 0%;
    margin-left: 0%;
}


@media screen and (max-width: 1050px){
  
    /* div .body{
        height: 100vh;
        width: 100vw;
        max-width:100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;    }
    
    form{
        padding: 10px;
        border-radius: 10px;
        size: 10px;
        background-color: red;

    } */

}

