<div class="main-body">
    <div class="container ctn">
        <!-- form-control -->
        <div class="row r1 justify-content-center">
            <div class="col col-md-12">
                <div class="sm-3">
                    <input  [(ngModel)]="theLink"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':removeSupperflu() === false,
                                'is-valid':removeSupperflu() === true
                            }" 
                            type="text" 
                            placeholder="Paste your link"  
                            #link>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="row r2 justify-content-center">
            <div class="col-sm-3">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-warning" 
                            (click)="generate(link.value,1)"
                            [disabled]="!removeSupperflu()"
                            type="button">Generate PDF</button>
                </div>
            </div>
            <div class="col-sm-3">
                <ng-container>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-warning" 
                                (click)="generate(link.value,2)"
                                [disabled]="!removeSupperflu()"
                                type="button">Generate Raw</button>
                    </div>
                </ng-container>
            </div> 
        </div>
    </div>
</div>
