<div class="body"> 
    <div class="container c1">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="row">
                    <h1 class="title">Inscription</h1>
                </div>
                <div class="row">
                    <div class="form">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="firstName" class="col-sm-1 col-form-label-sm">Firstname:</label>
                                    <input id="firstName" type="text" class="form-control form-control-sm" placeholder="Your name" formControlName="firstName">
                                    <span *ngIf="hasBeenSubmit && (form.get('firstName')?.status === 'INVALID')">
                                        <div class="text-success">
                                            Firstname Invalid
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="lastName" class="col-sm-1 col-form-label-sm">Surname:</label>
                                    <input id="lastName" type="text" class="form-control form-control-sm" placeholder="Your surname" formControlName="lastName">
                                    <span *ngIf="hasBeenSubmit && (form.get('lastName')?.status === 'INVALID')">
                                        <div class="text-danger">
                                            Lastname Invalid
                                        </div>
                                    </span>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="section-email">
                                    <label for="email" class="col-sm-1 col-form-label-sm">Email:</label>
                                    <input id="email"  type="email" class="form-control form-control-sm" placeholder="Your Email" formControlName="email">  
                                    <span *ngIf="hasBeenSubmit && (!checkEmailForm(this.form.controls['email'].value))">
                                        <div class="text-danger">
                                            Format d'email invalide
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="section-password">
                                <div class="password">
                                    <div class="form-group">
                                        <label for="password" class="col-sm-1 col-form-label-sm"> Password:</label>
                                        <input id="password" type="password" placeholder="Enter your password" class="form-control form-control-sm" formControlName="password"> 
                                    </div>
                                    <span *ngIf="form.controls['password'].dirty">
                                        <div [style.color]="form.get('password')?.value.length >= 5 ? 'green' : 'red'">
                                             * Minimum 5 letters
                                        </div>
                                    </span>
                                </div>
                                <div class="confirmPassword">
                                    <div class="form-group">
                                        <label for="confirmPassword" class="col-sm-6 col-form-label-sm"> Password Confirmation : </label>
                                        <input id="confirmPassword" type="password" placeholder="Enter your password" class="form-control form-control-sm" formControlName="confirmPassword"> 
                                        <div *ngIf="hasBeenSubmit && diffPassword">
                                            <div class="text-danger">
                                                Passwords are differents
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit">
                                <button class="btn btn-primary" 
                                        type="submit" 
                                        [disabled]="!this.form.valid"> Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="row align-self-start">
                        <div class="previous">
                            <button class="btn btn-primary" (click)="back()">
                                < previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
